.hkplayer-fullscreen{
  order: 12;
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 7px;
  .hkplayer-icon{
    svg {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
  }
  &:hover {
    .hkplayer-tips {
      display: block;
    }
  }
  @at-root .hkplayer.hkplayer-fullscreen-active{
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    width: 100%!important;
    height: 100%!important;
    z-index: 99999 !important;
  }
}