.hkplayer-play, .hkplayer-play-img{
  position: relative;
  order: 0;
  display: block;
  cursor: pointer;
  .hkplayer-icon{
    margin-top: 0;
      height: $controlsIconHeight;
      width: 56px;
      svg {
          position: relative;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
      }
  }
  &:hover{
    opacity: 0.85;
    .hkplayer-tips{
      display: block;
    }
  }
}