.hkplayer-start {
    border-radius: 50%;
    display: inline-block;
    width: 70px;
    height: 70px;
    background: $startBgColor;
    overflow: hidden;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    margin: -55px auto auto -35px;
    cursor: pointer;

    @at-root .hkplayer-nostart & {
        margin: -35px auto auto -35px;
    }

    @at-root .hkplayer-inactive & {
        margin: -35px auto auto -35px;
    }

    svg {
        fill: $startSvgFill;
        margin: 21px;
    }

    &.hkplayer-start-interact {
        animation: playPause 0.4s ease-out forwards;
    }

    &:hover {
        background: $startHoverBgColor;

        svg {
            fill: $startHoverFillColor;
        }
    }
}

.hkplayer-start-img {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    cursor: pointer;

    @at-root .hkplayer-nostart & {
        display: block;
    }

    &.hkplayer-start-interact {
        animation: playPause 0.4s ease-out forwards;
    }

    &:hover {
        opacity: 0.85;
    }
}