.hkplayer-skin-default {
    .hkvideo-ctxmenu {
        width: 100%;
        display: block;
    }
    .hkvideo-ctxmenuhelp, .hkvideo-ctxpldetail {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: rgba(26,26,26,.96);
        border-radius: 5px;
    }
    .hkvideo-ctxmenuhelp {
        width: 360px;
        padding: 20px 20px 25px;
        &-title {
            margin-left: 10px;
            margin-bottom: 12px;
            font-size: 16px;
            color: #fff;
        }
        &-list {
            font-size: 14px;
        }
        &-item {
            padding: 0 15px;
            height: 32px;
            width: 50%;
            line-height: 32px;
            display: inline-block;
            border-radius: 14px;
            margin-bottom: 2px;
            color: #999;
            cursor: pointer;
            .menuhelp-label {
                color: $playerIconColor;
            }
            &:hover {
                color: $playerIconColor;
                background-color: #2a2a2a;
                .menuhelp-label {
                    color: $sliderDragBgColor;
                }
            }
        }
        &-close {
            opacity: 1;
        }
    }
    .hkvideo-ctxpldetail {
        padding: 15px 0;
        &-row {
            line-height: 22px;
        }
        &-label {
            display: inline-block;
            vertical-align: top;
            width: 86px;
            text-align: right;
            font-size: 12px;
            color: #ddd;
        }
        &-text {
            display: inline-block;
            vertical-align: top;
            width: 212px;
            font-size: 12px;
            color: #fff;
            word-break: break-all;
        }
    }
    .hkvideo-ctxmenulist {
        list-style: none;
        width: 170px;
        padding: 10px 0;
        font-size: 14px;
        color: #ddd;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: $contextmenubg;
        border-radius: 5px;
        z-index: 150;
    }
    .hkvideo-ctxmenuitem {
        list-style: none;
        height: 42px;
        line-height: 42px;
        padding-left: 24px;
        opacity: .8;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
}