$definitionWidth: 60px;
$definitionLIWidth: 80px;
$definitionDefColor: rgba(255, 255, 255, .8);
.hkplayer-skin-default {
    .hkplayer-definition {
        order: 10;
        width: $definitionWidth;
        height: 100%;
        z-index: 18;
        position: relative;
        outline: none;
        display: flex;
        align-items: center;
        margin: 0 8px;
        &-list {
            display: none;
            list-style: none;
            width: $definitionLIWidth;
            background: $sliderBgColor;
            position: absolute;
            bottom: $controlHeight;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            white-space: nowrap;
            z-index: 26;
            cursor: pointer;
            border-radius: 3px;
            padding: 6px 0;
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: -15px;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border: 8px solid transparent;
                border-top-color: $sliderBgColor;
            }
            li {
                opacity: 0.7;
                font-family: PingFangSC-Regular;
                font-size: 11px;
                color: $definitionDefColor;
                padding: 6px 13px;
                transition: transform .2s;
                &:hover {
                    color: $playerIconColor;
                    opacity: 1;
                    transform: scale(1.2);
                }
                &.selected {
                    color: $definitionLiActiveColor;
                    opacity: 1;
                }
            }
        }

        .name {
            text-align: center;
            font-family: PingFangSC-Regular;
            font-size: 13px;
            cursor: pointer;
            color: $definitionDefColor;
            width: $definitionWidth;
            height: 24px;
            line-height: 24px;
            background: $sliderBgColor;
            border-radius: 3px;
            display: inline-block;
            vertical-align: middle;
            &:hover {
                background-color: $sliderDragBgColor;
                color: $playerIconColor;
            }
        }
        &.hkplayer-definition-active {
            z-index: 41;
            .hkplayer-definition-list {
                display: block;
            }
        }
    }
}
