.hkplayer-skin-default {
    .hkplayer-download {
        position: relative;
        order: 16;
        display: block;
        cursor: pointer;

        .hkplayer-icon {
            margin-top: 3px;

            div {
                position: absolute;
            }

            svg {
                position: relative;
                top: 5px;
                left: 5px;
            }
        }

        .hkplayer-tips {
            margin-left: -20px;

            .hkplayer-tip-download {
                display: block;
            }
        }

        &:hover {
            opacity: 0.85;

            .hkplayer-tips {
                display: block;
            }
        }
    }
}

.lang-is-en {
    .hkplayer-download {
        .hkplayer-tips {
            margin-left: -32px;
        }
    }
}

.lang-is-jp {
    .hkplayer-download {
        .hkplayer-tips {
            margin-left: -40px;
        }
    }
}
