.hkplayer-skin-default {
    .hkplayer-enter {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: black;
        z-index: 120;
        pointer-events: none;
        opacity: 0;
        transition: opacity .5s;
        .hkplayer-enter-logo {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 130px;
            height: 44px;
            margin: -22px auto auto -65px;
            &-img {
                width: 100%;
                height: 100%;
            }
        }

        .hkplayer-enter-tips{
            display: none;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 120px;
            height: 1px;
            background: linear-gradient(to right, #000, red, red, red, #000);
            margin: 32px auto auto -62px;
            &:before {
                content: " ";
                display: block;
                width: 5px;
                height: 1px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 0;
                animation: enterTips 1.6s linear infinite;
                background: #fff;
            }
        }
        .hkplayer-enter-spinner {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            height: 100px;
            width: 100px;
            position: relative;
            transform: translate(-50%,-50%);
            .enter-bar {
                width: 12%;
                height: 26%;
                background-color: hsla(0,0%,100%,.7);
                position: absolute;
                left: 44%;
                top: 37%;
                opacity: 0;
                border-radius: 30px;
                animation: fade 1s linear infinite;
            }
        }
        @for $i from 1 to 12 {
            .hkplayer-enter-spinner div.hkplayer-enter-bar#{$i} {
                transform: rotate(#{($i - 1) * 30 }deg) translate(0, -142%);
                animation-delay: -#{(13 - $i)%12 * 0.0833}s;
            }
        }

        .hkplayer-enter-spinner div.hkplayer-enter-bar12 {
            transform: rotate(330deg) translate(0, -142%);
            animation-delay: -0.0833s;
        }
    }
}

.hkplayer-skin-default.hkplayer-is-enter {
    .hkplayer-enter {
        opacity: 1;
        &-tips {
            display: block;
        }
    }
}
