.hkplayer-skin-default {
    // 全屏
    .hkplayer-fullscreen,
    .hkplayer-fullscreen-img {
        position: relative;
        order: 28;
        display: block;
        cursor: pointer;
        margin-right: 7px;
        .hkplayer-icon {
            &:hover {
                svg {
                    animation: iconScale .4s ease both;
                }
            }
            svg {
                margin: $playerIcomMargin;
            }
        }
        &:hover {
            opacity: 0.85;
            .hkplayer-tips {
                display: block;
            }
        }
    }
    &.hkplayer-is-fullscreen {
        width: 100%!important;
        height: 100%!important;
        // Undo any aspect ratio padding for fluid layouts
        padding-top: 0 !important;
        z-index: 9999;
    }
    &.hkplayer-is-fullscreen.hkplayer-inactive {
        cursor: none;
    }
}
