.hkplayer-skin-default {
    .hkplayer-icon {
        display: block;
        width: $playerIcomWidth;
        height: $controlHeight;
        overflow: hidden;
        fill: $playerIconColor;
    }
}
