$pipWidth: 426px;
$pipHeight: 240px;
$pipDefColor: rgba(255, 255, 255, .8);
.hkplayer-skin-default {
    .hkplayer-pip {
        order: 22;
        width: $playerIcomWidth;
        height: 100%;
        position: relative;
        &:focus {
            outline: none;
        }
        .hkplayer-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .icon {
                transition: transform .3s;
            }
        }
        .setup {
            &-txt {
                margin-right: 8px;
                font-size: 14px;
            }
            &-list {
                display: none;
                background: $sliderBgColor;
                position: absolute;
                bottom: $controlHeight;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                white-space: nowrap;
                cursor: pointer;
                border-radius: 6px;
                padding: 0 10px;
                color: $pipDefColor;
                align-items: center;
                height: 50px;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -15px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border: 8px solid transparent;
                    border-top-color: $sliderBgColor;
                }
            }
        }
        &:hover {
            .setup-list {
                display: flex;
                z-index: 41;
            }
            .icon {
                transform: rotate(90deg);
            }
        }
    }
    .hkplayer-pip-lay {
        z-index: 105;
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px;
        color: #fff;
        // opacity: 0;
        display: flex;
        align-items: center;
        transition: opacity .3s;
        .pip {
            &-label {
                margin-right: 12px;
                display: flex;
                align-items: center;
                position: relative;
                cursor: pointer;
                &:hover {
                    color: $sliderDragBgColor;
                    &:before {
                        border-color: $sliderDragBgColor;
                    }
                    .pip-label-tips {
                        display: block;
                    }
                }
                &:before {
                    content: "";
                    color: $sliderDragBgColor;
                    border-radius: 2px;
                    border: solid 1px #ffffff;
                    width: 12px;
                    height: 12px;
                    display: inline-block;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 12px;
                    margin-right: 4px;
                }
                &-tips {
                    position: absolute;
                    padding: 6px 12px;
                    white-space: nowrap;
                    bottom: -40px;
                    right: 0;
                    border-radius: 6px;
                    background-color: rgba(0, 0, 0, .8);
                    color: #ffffff;
                    display: none;
                }
            }
        }
    }
    .hkplayer-pip-drag {
        cursor: move;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: 26px;
        z-index: 30;
        opacity: 0;
        transition: opacity .2s;
        padding: 8px;
        color: #fff;
        background-image: linear-gradient(0deg,transparent 70%,rgba(0,0,0,0.5));
        @at-root .hkplayer.hkplayer-inactive & {
            display: none;
        }
    }
}

.hkplayer-skin-default{
    &.hkplayer-pip-active {
        position: fixed !important;
        width: $pipWidth;
        height: $pipHeight;
        right: 83px;
        bottom: 120px;
        z-index: 999 !important;
        box-shadow: 0 20px 40px 0 rgba(0,0,0,0.20);
        &:hover {
            .hkplayer-pip-drag, .hkplayer-pip-lay {
                opacity: 1;
            }
        }
        &.hkplayer-playing {
            .hkplayer-start {
                display: none;
            }
        }
        //  小窗下关闭弹幕、右键菜单
        .hkplayer-danmu, .hkvideo-ctxmenu {
            display: none;
        }
        &.hkplayer-inactive {
            .hkplayer-controls {
                opacity: 0;
            }
        }
        .hkplayer-controls {
            z-index: 140;
            transition: none;
            .pipnone, .danmu-switch {
                display: none;
            }
            .hkplayer-play {
                display: block;
                position: absolute;
                width: $pipPlayHeight;
                height: $pipPlayHeight;
                right: 10px;
                bottom: 15px;
                background: rgba(0, 0, 0, .5);
                border-radius: 50%;
                .hkplayer-tips {
                    // top: $pipPlayHeight;
                    visibility: hidden;
                }
                .hkplayer-icon{
                    svg {
                        margin: 10px;
                    }
                }
            }
            .hkplayer-progress {
                display: block;
                top: 41px;
            }
            .hkplayer-time {
                display: block;
                position: absolute;
                top: 6px;
                left: 6px;
            }
        }
    }
}
.hkplayer-dragrange {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    &.hiderange {
        display: none;
    }
}
