$pipWidth: 420px;
$pipHeight: 236.25px;
$pipBottom: 120px;
$pipRight: 83px;
.hkplayer-skin-default {
    .hkplayer-pip {
        order: 9;
        position: relative;
        outline: none;
        display: block;
        cursor: pointer;
        margin-left: 10px;
        margin-top: 9px;
        margin-bottom: 11px;
        height: 20px;
        .name {
            text-align: center;
            font-family: PingFangSC-Regular;
            font-size: 13px;
            line-height: 20px;
            height: 20px;
            color: $definitionNameColor;
            span {
                width: 60px;
                height: 20px;
                line-height: 20px;
                background: $definitionNameBgColor;
                border-radius: 10px;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    .hkplayer-pip-lay {
        display: none;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 6px;
        right: 6px; 
        z-index: 105;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURf///0dwTP///////////2JNjWwAAAAFdFJOU/4AV+NNIaJNugAAAGZJREFUGNNlkNENwCAIBS+2C9gJ6gb9cIAm7r9TjecHpH6AD/AEGL3uMzoPzfvFMUVR3FO8mLrgZJpigsayK1EqOkPojWCFtfhWClLls7EL/xOpLAISOn6a2omNphHScGnstJC4qg9kXhEBJSaJRgAAAABJRU5ErkJggg==') no-repeat;
        background-size: contain;
        cursor: pointer;
    }
    .hkplayer-pip-drag {
        cursor: move;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: 26px;
        z-index: 30;
        display: none;
        .drag-handle {
            width: 100%;
            height: 100%;
            background-image: linear-gradient(0deg,transparent 70%,rgba(0,0,0,0.5));
            color: transparent;
            padding: 14px 16px;
            box-sizing: border-box;
        }
        @at-root .hkplayer.hkplayer-inactive & {
            display: none;
        }
    }
}

.hkplayer-skin-default{
    &.hkplayer-pip-active {
        position: fixed !important;
        width: $pipWidth;
        height: $pipHeight;
        right: $pipRight;
        bottom: $pipBottom;
        z-index: 999 !important;
        box-shadow: 0 20px 40px 0 rgba(0,0,0,0.20);
        &:hover {
            .hkplayer-pip-drag {
                display: flex;
            }
            .hkplayer-pip-lay {
                display: block;
            }
        }
        &.hkplayer-playing {
            .hkplayer-start {
                display: none;
            }
        }
        //  小窗下关闭弹幕
        .hkplayer-danmu {
            display: none;
        }
        .hkplayer-controls {
            z-index: 140;
            .hkplayer-placeholder, .hkplayer-fullscreen,
            .hkplayer-cssfullscreen, .hkplayer-volume,
            .danmu-switch, .hkplayer-playback, .hkplayer-definition {
                display: none;
            }
            .hkplayer-play {
                position: absolute;
                width: $pipPlayHeight;
                height: $pipPlayHeight;
                bottom: ($pipHeight - $pipPlayHeight) / 2;
                left: ($pipWidth - $pipPlayHeight) / 2;
                background: rgba(0, 0, 0, .5);
                border-radius: 50%;
                .hkplayer-tips {
                    top: $pipPlayHeight;
                }
                .hkplayer-icon{
                    svg {
                        margin: 10px;
                    }
                }
            }
            .hkplayer-progress {
                top: 41px;
            }
            .hkplayer-time {
                position: absolute;
                top: 6px;
                left: 6px;
            }
        }
    }
}
