.hkplayer-playback {
    order: 8;
    width: 60px;
    z-index: 18;
    position: relative;
    display: block;
    outline: none;
    cursor: default;
    margin: -119px 8px 14px;
    &-active {
        z-index: 41;
        .hkplayer-playback-list {
            display: block;
        }
    }
    .name {
        text-align: center;
        font-family: PingFangSC-Regular;
        font-size: 13px;
        line-height: 24px;
        width: 60px;
        height: 24px;
        color: $definitionNameColor;
        border-radius: 3px;
        background: rgba(0,0,0,.38);
        position: absolute;
        bottom: 0;
        cursor: pointer;
        &:hover {
            background-color: #ff4141;
            color: #fff;
        }
    }
    &-list {
        display: none;
        list-style: none;
        width: 60px;
        background: rgba(0,0,0,.54);
        position: absolute;
        bottom: 30px;
        left: 0;
        text-align: center;
        white-space: nowrap;
        cursor: pointer;
        border-radius: 3px;
        li {
            opacity: .7;
            font-family: PingFangSC-Regular;
            font-size: 11px;
            color: hsla(0,0%,100%,.8);
            padding: 6px 13px;
            transition: transform .3s ease;
            &:hover {
                opacity: 1;
                color: #fff;
            }
            &.selected {
                color: #ff4141;
            }
        }
    }
}
