$playbackWidth: 60px;
$playbacLIWidth: 80px;
$playbacDefColor: rgba(255, 255, 255, .8);
.hkplayer-skin-default {
    .hkplayer-playback {
        order: 8;
        width: $playbackWidth;
        height: $controlHeight;
        z-index: 18;
        position: relative;
        display: flex;
        align-items: center;
        outline: none;
        margin: 0 8px;
        &-active {
            z-index: 41;
            .hkplayer-playback-list {
                display: block;
            }
        }
        .name {
            text-align: center;
            font-family: PingFangSC-Regular;
            font-size: 13px;
            line-height: 24px;
            width: 60px;
            height: 24px;
            color: $playbacDefColor;
            border-radius: 3px;
            background: $sliderBgColor;
            cursor: pointer;
            &:hover {
                background-color: $definitionLiActiveColor;
                color: $playerIconColor;
            }
        }
        &-list {
            display: none;
            list-style: none;
            width: $playbacLIWidth;
            background: $sliderBgColor;
            position: absolute;
            bottom: $controlHeight;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            white-space: nowrap;
            cursor: pointer;
            border-radius: 3px;
            padding: 6px 0;
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: -15px;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border: 8px solid transparent;
                border-top-color: $sliderBgColor;
            }
            li {
                opacity: .7;
                font-family: PingFangSC-Regular;
                font-size: 11px;
                color: $playbacDefColor;
                padding: 6px 13px;
                transition: transform .2s;
                &:hover {
                    opacity: 1;
                    color: $playerIconColor;
                    transform: scale(1.2);
                }
                &.selected {
                    color: #ff4141;
                }
            }
        }
    }
}