.hkplayer-skin-default {
    &.hkplayer-rotate-fullscreen {
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        right: 0;
        height: 100vw!important;
        width: 100vh!important;
        transform-origin: top left;
        transform: rotate(90deg);
    }
    .hkplayer-rotate {
        position: relative;
        order: 18;
        display: block;
        cursor: pointer;

        .hkplayer-icon {
            margin-top: 7px;
            width: 26px;

            div {
                position: absolute;
            }
        }

        .hkplayer-tips {
            margin-left: -22px;

            .hkplayer-tip-rotate {
                display: block;
            }
        }

        &:hover {
            opacity: 0.85;

            .hkplayer-tips {
                display: block;
            }
        }
    }
}

.lang-is-en {
    .hkplayer-rotate {
        .hkplayer-tips {
            margin-left: -26px;
        }
    }
}

.lang-is-jp {
    .hkplayer-rotate {
        .hkplayer-tips {
            margin-left: -38px;
        }
    }
}
