.hkplayer-skin-default {
    .hkplayer-screenshot {
        order: 8;
        width: 60px;
        z-index: 18;
        position: relative;
        outline: none;
        cursor: pointer;
        margin: 14px 8px;
        .name {
            text-align: center;
            font-family: PingFangSC-Regular;
            font-size: 13px;
            line-height: 24px;
            width: 60px;
            height: 24px;
            color: rgba(255, 255, 255, .8);
            border-radius: 3px;
            background: rgba(0, 0, 0, .38);
            position: absolute;
            bottom: 0;
            cursor: pointer;
            &:hover {
                background-color: $sliderDragBgColor;
                color: $playerIconColor;
            }
        }
        &-ani {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            opacity: 0;
            animation: fadeOut .2s ease-in-out;
            z-index: 9999;
        }
    }
}

