.hkplayer-skin-default {
    &.hkplayer-nostart {
        .hkplayer-rightslide {
            display: none;
        }
    }
    .hkplayer-rightslide {
        position: absolute;
        right: 0;
        top: 50%;
        background-color: rgba(0, 0, 0, .6);
        width: 42px;
        min-height: 54px;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 11;
        transform: translateY(-50%);
        &:focus {
            outline: none;
        }
        &-ani {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #ffffff;
            opacity: 0;
            animation: fadeOut .3s ease-in-out;
            z-index: 12;
        }
    }
    .hkplayer-screenshot {
        width: 100%;
        height: 50px;
        .hkplayer-icon {
            width: 100%;
            height: 100%;
            &-screenshot {
                width: 28px;
                height: 28px;
                margin: 13px auto;
                cursor: pointer;
            }
        }
    }
    &.hkplayer-pip-active {
        .hkplayer-rightslide {
            visibility: hidden;
        }
    }
}
.hkplayer-skin-default.hkplayer-inactive {
    &:not(.hkplayer-pip-active) {
        .hkplayer-rightslide {
            display: none;
        }
    }
}
.screenshot {
    &-prev {
        position: absolute;
        width: 280px;
        right: 100%;
        margin-right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #fff;
        padding: 2px 2px 0;
        &-top {
            width: 100%;
            height: 153px;
        }
        &-img {
            width: 100%;
            height: 100%;
        }
    }
    &-close {
        position: absolute;
        width: 26px;
        height: 26px;
        top: 0;
        right: 0;
        &-bg {
            position: absolute;
            top: -24px;
            right: -24px;
            width: 0;
            height: 0;
            border: 26px solid transparent;
            border-left-color: #fff;
            transform: rotate(-45deg);
            border-radius: 100%;
        }
        &-btn {
            position: absolute;
            right: 6px;
            top: 7px;
            width: 12px;
            height: 12px;
            fill: #666;
            opacity: .9;
            cursor: pointer;
            &:hover {
                fill: $sliderDragBgColor;
            }
        }
    }
    &-btn {
        width: 100%;
        height: 46px;
        text-align: center;
        font-size: 16px;
        padding-top: 8px;
        color: #666;
        &-save {
            width: 72px;
            margin: 0 auto;

            height: 30px;
            line-height: 30px;
            border-radius: 15px;
            cursor: pointer;
            &:hover {
                color: $sliderDragBgColor;
                background: #f8f8f8;
                border-radius: 15px;
            }
        }
    }
}

