.hkplayer-skin-default {
    .hkplayer-tips {
        background: $tipsBgColor;
        display: none;
        position: absolute;
        font-family: PingFangSC-Regular;
        font-size: $tipsFontsize;
        color: $tipsColor;
        padding: 4px 6px;
        border-radius: 4px;
        text-align: center;
        top: -28px;
        left: 50%;
        margin-left: -18px;
        width: auto;
        white-space: nowrap;
    }
}

.hkplayer-skin-default.hkplayer-mobile {
    .hkplayer-tips {
        display: none !important;
    }
}
