.hkplayer-skin-default {
    .hkplayer-videopip {
        position: relative;
        order: 12;
        display: block;
        cursor: pointer;
        .hkplayer-icon {
            &-openpip {
                width: 100%;
                height: 100%;
                &:hover {
                    svg {
                        animation: iconScale .4s ease both;
                    }
                }
                svg {
                    margin: $playerIcomMargin;
                }
            }
        }

        .hkplayer-tips {
            .hkplayer-tip-openpip {
                display: block;
            }

            .hkplayer-tip-exitpip {
                display: none;
            }
        }

        &:hover {
            opacity: 0.85;

            .hkplayer-tips {
                display: block;
            }
        }
    }
}

.hkplayer-skin-default.hkplayer-is-videopip {
    
    .hkplayer-videopip  {
        .hkplayer-tips {
            .hkplayer-tip-openpip {
                display: none;
            }

            .hkplayer-tip-exitpip {
                display: block;
            }
        }
    }
}