.hkplayer-skin-default {
    .hkplayer-definition {
        order: 6;
        width: 60px;
        z-index: 18;
        position: relative;
        outline: none;
        display: none;
        cursor: default;
        margin: -119px 8px 14px 8px;

        ul {
            display: none;
            list-style: none;
            width: 60px;
            background: rgba(0, 0, 0, .54);
            position: absolute;
            bottom: 30px;
            left: 0;
            text-align: center;
            white-space: nowrap;
            z-index: 26;
            cursor: pointer;
            border-radius: 3px;
            cursor: pointer;
            li {
                opacity: 0.7;
                font-family: PingFangSC-Regular;
                font-size: 11px;
                color: rgba(255, 255, 255, .8);
                padding: 6px 13px;
                &.selected {
                    color: $definitionLiActiveColor;
                    opacity: 1;
                }
                &:hover {
                    color: $definitionLiActiveColor;
                    opacity: 1;
                }
            }
        }

        .name {
            text-align: center;
            font-family: PingFangSC-Regular;
            font-size: 13px;
            cursor: pointer;
            color: rgba(255, 255, 255, .8);
            position: absolute;
            bottom: 0;
            width: 60px;
            height: 24px;
            line-height: 24px;
            background: rgba(0, 0, 0, .38);
            border-radius: 3px;
            display: inline-block;
            vertical-align: middle;
            &:hover {
                background-color: $sliderDragBgColor;
                color: $playerIconColor;
            }
        }
    }
}

.hkplayer-skin-default.hkplayer-definition-active {
    .hkplayer-definition {
        ul {
            display: block;
        }
    }
}

.hkplayer-skin-default.hkplayer-is-definition {
    .hkplayer-definition {
        display: block;
    }
}
