.hkplayer-skin-default {
    // 全屏
    .hkplayer-fullscreen,
    .hkplayer-fullscreen-img {
        position: relative;
        order: 4;
        display: block;
        svg {
            width: 22px;
            height: 22px;
        }
    }
    &.hkplayer-is-fullscreen {
        width: 100%!important;
        height: 100%!important;
        padding-top: 0 !important;
        z-index: 9999;
        .exit-fullscreen {
            display: flex;
        }
        .fullscreen {
            display: none;
        }
    }
    &.hkplayer-is-fullscreen.hkplayer-inactive {
        cursor: none;
    }
}
